<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      * { padding: 0px; margin: 0px; }
      body { overflow: hidden; background-color: black; }
    </style>
  </head>
  <body>
    <div id="scene">
      <%= require('./src/render/scene.html') %>
    </div>
  </body>
</html>
